@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  transition: background-color 0s !important;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  transition: background-color 0s !important;
}

/* Prevent button and image flash */
.btn, .chat-image {
  transition: all 0s !important;
}

@layer components {
  .cb-border {
    @apply border-2 border-base-300;
  }

  .cb-divider {
    @apply border-t-2 border-base-300;
  }
  .cb-header {
    @apply text-xl leading-7 font-semibold flex items-center gap-1 mb-5;
  }

  .cb-header-icon {
    @apply w-6 h-6;
  }

  .cb-smaller-header {
    @apply text-lg leading-7 font-semibold flex items-center gap-1 mb-2;
  }

  .cb-smaller-header-icon {
    @apply w-5 h-5;
  }

  .cb-bold {
    @apply font-bold;
  }

  .cb-grouping-header {
    @apply font-semibold text-base-content/70;
  }

  .cb-badge {
    @apply badge badge-outline;
  }

  .cb-button {
    @apply btn btn-outline;
  }

  .cb-text-ghost {
    @apply text-base-content/60 font-medium
  }

  .link-primary{
    color: #41AEB4;
  }

  .cb-card-lite{
    @apply  rounded-lg p-4;
  }

  .cb-link-emphasized{
    color: #41AEB4;
    font-weight: 600;
  }

  /* Alert link styles */
  .bg-warning\/10 a, .bg-info\/10 a {
    @apply underline decoration-base-content/30 hover:decoration-base-content/70 font-medium;
  }

}
